body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #56a6db;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#task-input {
  padding: 10px;
  font-size: 1rem;
}

button {
  background-color: #252f6b;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #1a266d;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #93f0d1c9;
  border: 1px solid #ddd;
}

li.completed {
  text-decoration: line-through;
  background-color: #d3ffd3;
}
